<div class="row detail">
  <div ng-if="!model.readme" class="col-md-12">
    <h2>{{ model.detail.name }}</h2>
  </div>
  <div ng-if="model.readme" class="col-md-8" style="padding-right: 20px">
    <div ng-bind-html="model.readme"></div>
  </div>
  <div class="col-md-4"  style="height: 100%; border-left: 1px solid #ccc; margin-top: 20px; padding-top: 10px; padding-left: 20px">
    <p>
      <strong>{{ model.detail.name }}</strong>
      &nbsp;&nbsp;
      <button ng-hide="model.detail.author === 'system'" class="btn btn-default">
        <i class="fa fa-user"></i>
        <a href="/profile/{{ model.detail.author }}">{{ model.detail.author }}</a>
      </button>
    </p>
    <p>
      <em>{{ model.detail.description }}</em>
    </p>
    <p>
      <strong>{{ model.detail.versions[ model.detail.versions.length - 1 ] }}</strong>
      <span ng-if="model.detail.versions.length > 1">is the latest of {{ model.detail.versions.length }} versions</span>
    </p>
    <p><a href="{{ model.detail.repositoryLink }}" target="_blank">{{ model.detail.repositoryName }}</a></p>
    <p>
      <a class="btn btn-default" target="_self" ng-href="{{ model.detail.download }}" download>download package</a>
    </p>
    <div ng-if="model.detail.dependencies.length">
      <hr>
      <span><em>depends</em> on</span>
      <span ng-repeat="dependency in model.detail.dependencies">
        <span ng-if="$last &amp;&amp; model.detail.dependencies.length > 2">and</span>
        <a href="/package/{{ dependency.name }}">{{ dependency.name }}</a><span ng-if="!$last">,</span>
      </span>
    </div>
    <div ng-if="model.detail.dependants.length">
      <hr>
      <span><em>depended-on</em> by</span>
      <span ng-repeat="dependant in model.detail.dependants">
        <span ng-if="$last &amp;&amp; model.detail.dependants.length > 2">and</span>
        <a href="/package/{{ dependant }}">{{ dependant }}</a><span ng-if="!$last">,</span>
      </span>
    </div>
    <hr>
    <tabset>
      <tab heading="install">
        <div>
          <pre>mlpm install {{ model.detail.name }}</pre>
        </div>
      </tab>
      <tab heading="maven">
        <pre>{{ model.detail['maven-pom'] }}</pre>
      </tab>
      <!--
      <tab heading="gradle">
        <div>coming soon!</div>
      </tab>
      -->
    </tabset>
  </div>
</div>
