@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@icon-font-path:  "/fonts/";
@FontAwesomePath:    "/fonts/";

.footer {
  background-color:  rgba(241, 242, 242, 1);
  border-top: 1px solid #d1d3d4;
  bottom: 0;
  font-size: 12px;
  height: 85px;
  position: absolute;
  width: 100%;

  .powered {
    background-image: url(/images/poweredby-marklogic.png);
    background-repeat: no-repeat;
    float: right;
    height: 65px;
    margin-right: 20px;
    width: 161px;
    margin-top: 15px;
  }
}

.detail {
  .desc textarea {
    width: 100%;
  }

}

.welcome {
  margin-top: 14px;
}

.facet-list .facet a {
  cursor: pointer;
}

.results {
  ul.pagination {
    margin: 0;
  }

  .search-metrics {
    line-height: 28px;
    margin-left: 10px;
    vertical-align: top;
  }

  .highlight {
    background-color: #FFFFCC;
  }
}

form[name=profileForm] {
  .valid-email {
    min-height: 20px;
  }
}

.create .tag {
  margin-top: 10px;
  margin-right: 5px;
}
