@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@icon-font-path:  "/fonts/";
@FontAwesomePath:    "/fonts/";

.container {
  padding-bottom: 120px;
}

.footer {
  background-color:  rgba(241, 242, 242, 1);
  border-top: 1px solid #d1d3d4;
  bottom: 0;
  font-size: 12px;
  height: 85px;
  position: fixed;
  width: 100%;

  .powered {
    background-image: url(/images/poweredby-marklogic.png);
    background-repeat: no-repeat;
    float: right;
    height: 65px;
    margin-right: 20px;
    width: 161px;
    margin-top: 15px;
  }
}

.welcome {
  margin-top: 14px;
}

.facet-list .facet a {
  cursor: pointer;
}

.results {
  .highlight {
    background-color: #FFFFCC;
  }
}

.ml-search {
  padding-bottom: 20px;
}

.pagination {
  margin: 0 0 10px 0;
}

.readme {
  padding-right: 20px;
}

.package-sidebar {
  height: 100%;
  padding-top: 10px;
  margin-top: 20px;
  padding-left: 20px;
  border-left: 1px solid #ccc;
}
