<div class="row">
  <ml-facets class="col-md-3" facets="model.search.facets" toggle="toggleFacet(facet, value)" template="inline"></ml-facets>
  <div class="col-md-9">

    <ml-input qtext="model.qtext" search="search(qtext)" suggest="suggest(val)" template="fa"></ml-input>
    <h3 ng-if="model.search.total === 0">No results to show</h3>

    <div ng-if="model.search.total > 0" class="results">

      <pagination ng-if="model.search.total > 10" ng-model="model.page" ng-change="search()"
                  max-size="10" boundary-links="true" total-items="model.search.total"
                  items-per-page="model.search['page-length']"></pagination>

      <ml-metrics search="model.search"></ml-metrics>
      <ml-results results="model.search.results" link="linkTarget(result)" template="/search/custom-results.html"></ml-results>
    </div>
  </div>
</div>
